:root{
    --bg: rgb(23, 46, 61);
    --light: rgb(186, 220, 233);
    --mid: rgb(105, 182, 233);
    --dark: rgb(46, 111, 155);
    --vdark: rgb(20, 55, 78);
    --error: rgb(247, 26, 56);
    --success: rgb(35, 187, 73);
}

html {
    box-sizing: border-box;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--bg);
}

.form-window{
    display: flex;
    width: 50%;
    min-width: fit-content;
    margin: 3rem auto 3rem auto;
    padding: 3rem 1rem 3rem 1rem;
    background-color: var(--light);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    @media (max-width: 767px){
        width: 80%;
    }
}

.form-window form{
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

.cols{
    width: 100%;
    min-width: fit-content;
    display: flex;
    @media (max-width: 767px){
        flex-direction: column;
    }
}

.form-collumn{
    color: var(--vdark);
    width: 100%;
    min-width: auto;
    overflow: auto;
}

.form-element{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    box-sizing: border-box;
    min-height: 4.5em;
    min-width: 15em;
}

.form-element label{
    font-family: sans-serif;
    margin-bottom: 0.1rem;
}

.form-element input{
    padding: 5px;
    border: 2px white solid;
}

.form-element input[type="text"], input[type="date"], input[type="email"], input[type="number"], select{
    height: 2rem;
}

#tel{
    display: flex;
    width: 100%;
}

#tel input{
    margin-left: 0.5rem;
    width: 100%;
}

input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
}

input[type="radio"]:checked{
    background-color: var(--dark);
}

input[type="radio"] + label{
    cursor: pointer;
}

.radio-item{
    display: flex;
    width: 100%;
    align-items: center;
}

#other-gender-input{
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    display: none;
    margin-top: 0.5rem;
}

.btn{
    display: flex;
    justify-content: end;
    margin: 1rem;
    box-sizing: border-box;
}

.btn button{
    margin: 0 0 0 auto;
    padding: 0.5rem;
    width: 50%;
    max-width:15rem;
    min-width: 5rem;
    border-radius: 1rem;
    background-color: var(--dark);
    border: 0;
    color: white;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.btn button:hover{
    background-color: white;
    color: var(--dark);
    transition: 0.3s;
}

.radio-buttons{
    font-style: italic;
}

.error-text{
    font-family: monospace;
    font-size: small;
    font-weight: bold;
    height: 1rem;
    color: var(--error);
}

.error input{
    border-color: var(--error);
    transition: 0.3s;
}

.success input{
    border-color: var(--success);
    transition: 0.3s;
}

.success input[type="radio"]{
    border-color: white !important;
    transition: 0.3s;
}

#opt-other-txtbox{
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    display: none;
    margin-top: 0.5rem;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 3px;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border: 3px solid white;
}

input[type="checkbox"]:checked{
    background-color: var(--dark);
}

input[type="checkbox"] + label{
    cursor: pointer;
}

.checkbox-item{
    width: 100%;
    display: flex;
    align-items: center;
}

#opt-other-txtbox{
    resize: vertical;
}

label a{
    font-style: italic;
    font-size: small;
    color: var(--dark);
}

#modal{
    background-color: var(--light);
    width: min-content;
    max-width: fit-content;
    min-width: 25rem;
    margin: auto;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    padding: 2rem;
    font-family: sans-serif;
    color: var(--vdark);
}

#modal h2{
    text-align: center;
}

#modal h3{
    margin-top: 1rem;
}

#modal ul{
    padding-left: 1rem;
}

#selected-product{
    padding-left: 1rem;
}

#modal::backdrop{
    background-color: black;
    opacity: 0.4;
}

.modal-line{
    display: flex;
}

.modal-line p, h3{
    width: 100%;
    margin: 0.1em 0 0.1em 0;
}

.price{
    max-width: fit-content;
    align-self: flex-end;
}

#other-extra-text{
    word-break: normal;
    white-space: normal;
    margin: 0.3rem 0 1rem 0.5rem;
    font-style: italic;
}

#hidden-input{
    opacity: 0;
    width: 100%;
}

#hidden-name-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

#show-name-btn{
    width: fit-content;
}